
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  
  @font-face {
    font-family: "Ria";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/2410-1@1.0/RiaSans-Regular.woff2")
      format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

  
  @font-face {
    font-family: "Ria";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/2410-1@1.0/RiaSans-ExtraBold.woff2")
      format("woff2");
    font-weight: 800;
    font-style: normal;
    font-display: swap;
  }

  html,
  body,
  #root {
    font-family: theme("fontFamily.sans");
    font-size: 14px;
  }
}


.react-datepicker {
  background-color: #393939;
  border: 1px solid #2a2a2a;
  color: #fff;
}
.react-datepicker__header {
  background-color: #2a2a2a;
  border-bottom-color: #2a2a2a;
}
.react-datepicker__current-month,
.react-datepicker__day-name {
  color: #ddd;
}
.react-datepicker__day {
  color: #ddd;
}
.react-datepicker__navigation-icon::before {
  border-color: #ddd;
}
.react-datepicker-popper {
  z-index: 50;
}


.react-datepicker__day--selected,
.react-datepicker__day--keyboard-selected {
  background-color: #1794f6 !important; 
  color: #fff !important;
  border-radius: 9999px !important;
  box-shadow: none !important;
}
.react-datepicker__day--today {
  background: transparent !important; 
  color: #1794f6 !important;
  font-weight: 700 !important;
}

.react-datepicker__month-container {
  background-color: #393939;
  border-radius: 3px;
  color: white !important;
}

.react-datepicker__header {
  background-color: #1794f6 !important;
}

.react-datepicker__current-month {
  color: white !important;
}


.datepicker-popper-dark .react-datepicker__navigation-icon::before {
  border-color: #fff !important;
}


.datepicker-popper-dark
  .react-datepicker__navigation:hover
  .react-datepicker__navigation-icon::before {
  border-color: #fff !important;
}
.datepicker-popper-dark
  .react-datepicker__navigation--disabled
  .react-datepicker__navigation-icon::before {
  border-color: #9ca3af !important; 
}


.datepicker-popper-dark .react-datepicker {
  border: none !important;
}
.datepicker-popper-dark .react-datepicker__header {
  border-bottom: none !important;
}

.datepicker-popper-dark .react-datepicker__navigation {
  outline: none !important;
  box-shadow: none !important;
}
.datepicker-popper-dark .react-datepicker__navigation-icon::before {
  border-color: #fff !important; 
}


.datepicker-popper-dark .react-datepicker__day--selected,
.datepicker-popper-dark .react-datepicker__day--keyboard-selected {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}


.datepicker-popper-dark .react-datepicker__day,
.datepicker-popper-dark .react-datepicker__day-name {
  border: none !important;
}


.datepicker-popper-dark .react-datepicker__current-month,
.datepicker-popper-dark .react-datepicker__day-name,
.datepicker-popper-dark .react-datepicker__day,
.datepicker-dark .react-datepicker__current-month,
.datepicker-dark .react-datepicker__day-name,
.datepicker-dark .react-datepicker__day {
  color: #fff !important;
  font-size: 10px;
}


.datepicker-popper-dark .react-datepicker__day--outside-month,
.datepicker-dark .react-datepicker__day--outside-month {
  color: rgba(255, 255, 255, 0.35) !important;
}


.datepicker-popper-dark .react-datepicker__day--disabled,
.datepicker-dark .react-datepicker__day--disabled {
  color: rgba(255, 255, 255, 0.3) !important;
}


.datepicker-popper-dark .react-datepicker__day,
.datepicker-dark .react-datepicker__day {
  border-radius: 99px;
  transition: background-color 0.15s ease, color 0.15s ease;
}

.datepicker-popper-dark
  .react-datepicker__day:not(.react-datepicker__day--disabled):hover,
.datepicker-dark
  .react-datepicker__day:not(.react-datepicker__day--disabled):hover {
  background-color: #1794f6 !important; 
  color: #fff !important;
  border-radius: 9999px !important;
}


.datepicker-popper-dark .react-datepicker__day--selected,
.datepicker-popper-dark .react-datepicker__day--keyboard-selected,
.datepicker-dark .react-datepicker__day--selected,
.datepicker-dark .react-datepicker__day--keyboard-selected {
  background-color: #fff !important;
  color: #1794f6 !important;
  border-radius: 9999px !important;
  outline: none !important;
  box-shadow: none !important;
  border: none !important;
  font-weight: Bold !important;
}


.datepicker-popper-dark .react-datepicker__day--selected:hover,
.datepicker-dark .react-datepicker__day--selected:hover {
  background-color: #6d54b5 !important;
  color: #fff !important;
}
